body {
    background-color:rgb(87, 19, 72) ;
    /* background-repeat: no-repeat;
    background-size: cover; */
    font-size: large;
    color:rgb(255, 255, 255);
    text-align:center;
    
}

#tcl {
background-color:rgb(255, 255, 255) ;
color: rgb(0, 0, 0);
}

#moeda {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 30px;
  height: 30px;
  /* background-color: rgb(66, 16, 40); */
}

#jcarro {
  position: absolute;
  left: 200px;
  top: 300px;
  width: 50px;
  height: 30px;
  /* background-color: rgb(12, 235, 23); */
}

#cronometro{
      
      background-image: url(/Imagens/Motion\ graphics\ Geya\ Shvecova.gif);
    
}


#campo {
  height: 500px;
  width: 1900px;
  background-image: url(/Imagens/Motion\ graphics\ Geya\ Shvecova.gif);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  border-color: brown;
}


